*, *::before, *::after {
  box-sizing: border-box;
 }

body {
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 96px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  max-width: 1140px;
}

h5, h4, h3, h2, h1 {    
  font-family: 'Playfair Display', serif;   
 }

p {
  font-family: 'Merriweather', serif;   
 }
 
.btn {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background: #f0932b;
  border: none;
 }
 
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
 }

.inner {
  position: relative;
  background-image: url('https://images.pexels.com/photos/4046718/pexels-photo-4046718.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.masthead-brand {
  color: #f0932b;
  font-size: 50px;
}

nav a {
  color: #303952;
  font-weight: bold;
}

.footer i {
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color:#f0932b;
}